{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

{% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}


<div class="container">
<form method="post" action={{ path('app_login')}}>

    <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
    <label>Email</label>
    <input type="text"  name="_username"  class="form-control" required value="{{ last_username }}">
    <label>Password</label>
    <input type="password" name="_password" class="form-control" required>
    

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <br>
{% if not app.user %}
    <button class="btn btn-lg btn-primary" type="submit">
        Se connecter
    </button>

 {% endif %}
</form>

</div>
{% endblock %}
